@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --toolbar-bg: #75f0c7;
}

@theme inline {
  --color-primary: var(--toolbar-bg);
}

body {
  background: var(--background);
  color: var(--foreground);
}